@{
    ViewData["Title"] = "Seleccionar Nivel";
}

<main class="fondo">
    <button class="btn-volver" onclick="location.href='@Url.Action("Index","Home")'">⬅</button>

    <section class="niveles">
        <a href="@Url.Action("NivelesJuego", "Home", new { id = 0 })" class="nivel tutorial">Tutorial</a>
        <a href="@Url.Action("NivelesJuego", "Home", new { id = 1 })" class="nivel nivel1">NIVEL 1</a>
        <a href="@Url.Action("NivelesJuego", "Home", new { id = 2 })" class="nivel nivel2">NIVEL 2</a>
        <a href="@Url.Action("NivelesJuego", "Home", new { id = 3 })" class="nivel nivel3">NIVEL 3</a>

        <svg class="conexiones" viewBox="0 0 800 400">
            <line x1="200" y1="220" x2="400" y2="220" />
            <line x1="400" y1="220" x2="600" y2="150" />
            <line x1="400" y1="220" x2="550" y2="320" />
        </svg>
    </section>
</main>

